.main-title {
    font-size: 5em;
    font-weight: 400;
    color: rgb(187, 187, 187);
    font-family: "Fira Sans", sans-serif;
    text-align: center;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.body {
    background-color: black;
    display: flex;
    height: 100vh;
    margin: 0;
}