---
title: All Tags
permalink: /tags/
layout: layouts/home.njk
eleventyNavigation:
  key: Tags
  order: 2
---
<h1>Tags</h1>

<div class="tags-container">
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag post-tag-xl animated-rainbow-hover">{{ tag }}</a>
{% endfor %}
</div>